.scroll-animation {
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: scrollIn;
}

@keyframes scrollIn {
    0% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(calc(-100vw + -1200px));
    }
}